/ChatMinimalApi_/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Ecology.Data_/obj/
/Ecology.Data_/bin/
/Ecology.Data.Interface_/bin/
/Ecology.Data.Interface_/obj/
/Ecology.Data.Fake_/bin/
/Ecology.Data.Fake_/obj/
/ChatMinimalApi_/bin/
/ChatMinimalApi_/obj/
/.idea/
/MultyTreadConsole_/obj/
/MultyTreadConsole_/bin/
/MapMinimalApi_/bin/
/MapMinimalApi_/obj/
/Enums_/bin/
/Enums_/obj/
/EcologySite_/bin/
/EcologySite_/obj/
/EcologySite.E2E_/bin/
/EcologySite.E2E_/obj/
