@{
    Layout = "~/Views/Shared/_LayoutEcology.cshtml";
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/Ecology/displayApiActions.js"></script>
}

<div>
    <h3>API Actions</h3>
    <ul id="apiActions">
        <li>Loading...</li>
    </ul>
</div>
